doctype html
html
  head
    title Edge Hill Barbers
    link(rel="stylesheet", type="text/css", href="screen.css")
body
  .container
    .heading-content
      img(src="barberspole.png", alt="logo.png", width="140px", height="auto")
      h1 Edge Hill Barbers
      p Shop Locally, Keep Small Business Alive
      a(href="", target="_blank") Contact Tracey
  .open-hours
    h1 Find Us On The Map
    iframe(width="600", height="300", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?q=132%20Collins%20Ave%20Edge%20Hill%2C%20QLD%204870&key=AIzaSyBAE1xKxta2s33rJiGiMwl65YXYC9uu1nI", allowfullscreen)
